.HomeContainer {
  width: 100%;
  height: auto;
 
}
.HomeContainerChil {
  width: 75%;
  height: 200px;
  margin: auto;
 
}
.HomeBox {
  width: 100%;
  border: none;
  height: 100%;
  box-shadow: rgba(142, 142, 142, 0.25) 0px 14px 28px,
  rgba(154, 154, 154, 0.22) 0px 10px 10px;
  width: 85%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeBox1 {
  height: 100%;
  width: 15%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: whitesmoke;
}
.HomeBox1:hover {
  background-color: rgb(7, 116, 13);
  color: white;
  border: black;
  padding: 2px;
  box-sizing: border-box;
}
.HomeBoxChild {
  width: 100%;

  border: none;
  height: 70%;
  box-shadow: rgba(142, 142, 142, 0.25) 0px 14px 28px,
rgba(154, 154, 154, 0.22) 0px 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.HomeBoxChildPar {
  border: none;
  height: 30%;
  box-shadow: rgba(142, 142, 142, 0.25) 0px 14px 28px,
  rgba(154, 154, 154, 0.22) 0px 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.HomeBoxChild1 {
  width: 100%;
  height: 20%;
  text-align: center;
}
.HomeBoxChild1img {
  width: 100%;
  height: 80%;
  text-align: center;
}
.HomeBoxChild1Icon {
  width: 70%;
  height: 70%;
}

/* ----------------graph ---------------- */

.HomeContainerGraph {
  width: 75%;
  height: 200px;
  margin: auto;
}
.HomeGraph {
  width: 100%;
  border: none;
  height: 100%;
  /* box-shadow: rgba(142, 142, 142, 0.25) 0px 14px 28px,
rgba(154, 154, 154, 0.22) 0px 10px 10px; */
  width: 85%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeGraph1 {
  height: 100%;
  width: 90%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------------Data ---------------- */

.HomeContainerData {
  width: 75%;
  height: 250px;
  margin: auto;
}
.HomeData {
  width: 100%;
  border: none;
  height: 100%;
  box-shadow: rgba(142, 142, 142, 0.25) 0px 14px 28px,
  rgba(154, 154, 154, 0.22) 0px 10px 10px;
  width: 85%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeData1 {
  height: 70%;
  width: 100%;
  display: flex;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  gap: 250px;
  justify-content: center;
  align-items: center;
}
.HomeDataChildParent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.HomeDataChild {
  width: 50%;

  border: none;
  height: 50%;
  /* box-shadow: rgba(142, 142, 142, 0.25) 0px 14px 28px,
  rgba(154, 154, 154, 0.22) 0px 10px 10px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 10px;
}
.HomeDataChilPAr {
  border: none;
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.HomeDataChild1 {
  width: 100%;
  height: 20%;
  text-align: center;
}
.HomeDataChild1Img {
  width: 100%;
  height: 80%;
  text-align: center;
}
.HomeDataChild1Icon {
  width: 70%;
  height: 100%;
}


.gmap_iframe{
  width: 100%;
  height: 100px;
}

.googleMap{
  width: 84%;
  height: 100px;
}
