
.SearchContainer{
    width: 75%;
    height: 70px;
    margin: auto;
    
}
.SearchBox{
    border: none;
    height: 85%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 85%;
    border-radius: 10px;
    background-color: teal;
    color: white;
    font-size: larger;
}
.SearchIcone{
    color: white;
    width: 70px;
    height: 70%;
    border: none;
    background-color: transparent;
    border-radius: 100%;
    font-size: 20px;
    margin: auto;
    margin-left: -73px;
}

